.same-axis {
  background: rgba(255, 208, 0, 0.238);
}

.same-value {
  background: rgba(255, 204, 50, 0.56);
}

.selected {
  background: rgb(255, 166, 0);
}

.cell {
  border-color: black;
}

.cell:nth-child(3n) {
  border-right-width: 3px;
}

.cell:nth-child(9n) {
  border-right-width: 0px;
}

.small-grid:nth-child(3n) {
  border-bottom-width: 3px;
}

.small-grid:nth-child(9n) {
  border-bottom-width: 0px;
}

.editable {
  color: red;
}
