@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(./resources/fonts/Roboto-Medium.ttf);
}

body {
  /* background: #161616; */
  font-family: Roboto;
}

.root-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 90%;
}
.main-container {
  /* display: grid;
  grid-template-columns: 60% 40%; */
}

.health-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  user-select: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
